---
const platform = "github";
const username = "marcxzo";
---
<p>this is the footer component</p>
<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>