---
import Navigation from "./navigation.astro"
---
<div class="container">
  <p>Logo Here</p>
  <Navigation/>
</div>

<style>
  div{
    display: flex;
    justify-content: space-between;
    padding: var(--size-2xl);
  }
</style>