---

---
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/">Contact</a>
  </li>
  <li>
    <a href="/">Blog</a>
  </li>
  <li>
    <a href="/">Projects</a>
  </li>
  <li>
    <a href="/stylepreview/">Style preview</a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
</style>